@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow-x: clip;
}

body {
	color: white;
	/* max-width: 100%; */
	background-color: hsl(218, 28%, 13%);
	overflow-x: clip;
}

button {
	cursor: pointer;
}
header {
	display: flex;
	position: relative;
	margin-top: 2rem;
}

.logo img {
	padding-left: 20px;
	width: 100px;
}

nav {
	border-radius: 33px;
	position: relative;
	right: -17%;
}
nav ul {
	display: flex;
	margin-top: 4.59px;
}

nav ul li {
	list-style-type: none;
	margin-right: 20px;
	font-size: 14px;
	font-family: "Raleway", sans-serif;
}

nav ul li a {
	text-decoration: none;
	color: white;
}

.illustration1 img {
	max-width: 80%;
	margin-top: 3.5rem;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.description {
	display: flex;
	flex-direction: column;
	margin-left: 13px;
}
.description b {
	font-weight: 700;
	font-family: "Raleway", sans-serif;
	font-size: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 3rem;
	line-height: 2.4rem;
	text-align: center;
	width: 14.5em;
}

.description p {
	font-family: "Raleway", sans-serif;
	font-size: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 97%;
	margin: auto;
	margin-left: -1px;
	font-size: 18px;
	margin-top: 1.4rem;
	line-height: 1.5rem;
	text-align: center;
}

.description button {
	border: none;
	width: 60%;
	height: 50px;
	background-color: hsl(176, 68%, 64%);
	border-radius: 50px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2.5rem;
	font-size: 1rem;
	font-family: "Raleway", sans-serif;
	font-weight: 600;
	color: white;
}

.section-two {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.devices img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 8rem;
	margin-bottom: 1.3rem;
}
.dev-descript {
	font-size: 1.4rem;
	font-family: "Raleway", sans-serif;
}

.dev-text {
	font-family: "Raleway", sans-serif;
	margin-top: 0.4rem;
	line-height: 1.3rem;
	max-width: 85%;
	font-size: 0.9rem;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.security img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4.1rem;
	margin-bottom: 1.02rem;
}
.securi-descript {
	font-size: 1.4rem;
	font-family: "Raleway", sans-serif;
}

.securi-text {
	font-family: "Raleway", sans-serif;
	margin-top: 0.4rem;
	line-height: 1.3rem;
	max-width: 85%;
	font-size: 0.9rem;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.collab img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4.5rem;
	margin-bottom: 1.3rem;
}
.collab-descript {
	font-size: 1.4rem;
	font-family: "Raleway", sans-serif;
}

.collab-text {
	font-family: "Raleway", sans-serif;
	margin-top: 0.4rem;
	line-height: 1.3rem;
	max-width: 85%;
	font-size: 0.9rem;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.file img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4.5rem;
	margin-bottom: 1rem;
}
.file-descript {
	font-size: 1.4rem;
	font-family: "Raleway", sans-serif;
}

.file-text {
	font-family: "Raleway", sans-serif;
	margin-top: 0.4rem;
	line-height: 1.3rem;
	max-width: 88%;
	font-size: 0.9rem;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.illus2-image {
	max-width: 80%;
	margin-top: 3.5rem;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.illustrate-23 {
	text-align: left;
	font-size: 1.2rem;
	font-family: "Raleway", sans-serif;
	display: block;
	margin-top: 3rem;
	margin-left: 1.4rem;
}

.illustrate-2 p {
	font-size: 0.9rem;
	font-family: "Raleway", sans-serif;
	text-align: left;
	max-width: 84%;
	font-size: 14px;
	margin-left: 1.4rem;
	line-height: 1.3rem;
	margin-top: 1rem;
}

.illustrate-2 .p2 {
	max-width: 80%;
}

.seehow p {
	color: rgb(101, 226, 217);
	font-family: "Raleway", sans-serif;
	text-align: left;
	font-size: smaller;
	margin-top: 1rem;
	margin-left: 1.5rem;
}

.seehow img {
	position: relative;
	top: -15px;
	left: -1.6rem;
}

.line {
	border: 0.9px solid rgb(101, 226, 217);
	width: 143px;
	position: relative;
	margin-left: 1.56rem;
	margin-top: -0.8rem;
}

.testimony-card-1 {
	background-color: hsl(219, 30%, 18%);
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	border-radius: 3px;
	height: 12rem;
	font-family: "Raleway", sans-serif;
	margin-top: 10rem;
	z-index: 1;
	position: relative;
}

.about-wit {
	text-align: left;
	line-height: 21px;
	width: 86%;
	font-size: 11.5px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 2rem;
}

.witness-info img {
	width: 11%;
	border-radius: 50%;
	position: relative;
	left: 5%;
	top: 1.2rem;
}

b.wit-name1 {
	font-size: 10px;
	display: block;
	margin-left: rem;
}

p.wit-work {
	margin-top: -0.8rem;
	font-size: 9px;
}

.wit-info {
	position: relative;
	top: -0.8rem;
	left: 3.6rem;
}

.quote {
	width: 10%;
	position: relative;
	top: 10.6rem;
	left: 3rem;
}

.testimony-card-2 {
	background-color: hsl(219, 30%, 18%);
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	border-radius: 3px;
	height: 12rem;
	font-family: "Raleway", sans-serif;
	margin-top: 2rem;
	z-index: 1;
	position: relative;
}

.about-wit2 {
	text-align: left;
	line-height: 21px;
	width: 86%;
	font-size: 11.5px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 2rem;
}

.witness-info2 img {
	width: 11%;
	border-radius: 50%;
	position: absolute;
	left: 6%;
	top: 8.7rem;
}

b.wit-name2 {
	font-size: 10px;
	display: block;
}

p.wit-work2 {
	margin-top: 0.3rem;
	font-size: 9px;
}

.wit-info2 {
	position: relative;
	top: 1.7rem;
	left: 3.7rem;
}

.testimony-card-3 {
	background-color: hsl(219, 30%, 18%);
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	border-radius: 3px;
	height: 12rem;
	font-family: "Raleway", sans-serif;
	margin-top: 2rem;
	z-index: 1;
	position: relative;
}

.about-wit3 {
	text-align: left;
	line-height: 21px;
	width: 86%;
	font-size: 11.5px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 2rem;
}

.witness-info3 img {
	width: 11%;
	border-radius: 50%;
	position: relative;
	left: 5%;
	top: 1.2rem;
}

b.wit-name3 {
	font-size: 10px;
	display: block;
}

p.wit-work3 {
	margin-top: 0.25rem;
	font-size: 9px;
}

.wit-info3 {
	position: relative;
	top: -0.8rem;
	left: 3.6rem;
}

.signup-card {
	background-color: hsl(217, 28%, 15%);
	padding-top: 3rem;
	height: 26rem;
	left: 1.17em;
	max-width: 90%;
	width: 50.3rem;
	margin-right: 50px;
	border-radius: 15px;
	font-family: "Raleway", sans-serif;
	margin-top: 10rem;
	position: absolute;
	box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.322);
	z-index: 3;
	text-align: center;
}

b.signup {
	display: block;
	font-size: 20px;
}

p.signup-text {
	margin-top: 1rem;
	line-height: 25px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 80%;
	font-size: 14px;
}

input[type="text"] {
	padding-left: 30px;
}
.signup-card input {
	border: none;
	max-width: 86%;
	width: 600px;
	height: 50px;
	background-color: hsl(0, 0%, 100%);
	border-radius: 50px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2.5rem;
	font-family: "Raleway", sans-serif;
	font-size: 12px;
}

.active {
	border: 1px solid red;
}

.signup-card input::placeholder {
	color: rgba(97, 96, 96, 0.281);
	position: relative;
	left: 2.3%;
	font-size: 16px;
}

.signup-card button {
	border: none;
	width: 85%;
	height: 50px;
	background-color: hsl(176, 68%, 64%);
	border-radius: 50px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1rem;
	font-size: 1rem;
	font-family: "Raleway", sans-serif;
	font-weight: 600;
}

.signup-card span {
	color: white;
}

.errtext {
	position: absolute;
	font-size: 12px;
	top: 17.5rem;
	left: 3rem;
	font-style: italic;
	color: rgba(255, 0, 0, 0.856);
	word-spacing: 1px;
	letter-spacing: 1px;
	visibility: hidden;
}

footer {
	margin-top: 21rem;
	position: relative;
	background-color: hsl(216, 53%, 9%);
	z-index: 2;
	height: 60rem;
}

.footer-content {
	position: absolute;
	margin-top: 20rem;
}
.footer-logo {
	display: block;
	margin-left: 2rem;
}
.location-descript {
	margin-top: 1rem;
}
.location-descript img {
	position: relative;
	top: 1.7rem;
	left: 1.5em;
}
.footer-flex p {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.social-icons {
	position: relative;
	text-align: center;
	margin-top: 30px;
}

.social-icons i {
	border: 1px solid white;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	margin-left: 10px;
	text-align: center;
}

.fa-facebook-f:before {
	content: "\f39e";
	position: relative;
	top: 6px;
}

.fa-twitter:before {
	content: "\f099";
	position: relative;
	top: 6px;
}

.fa-instagram:before {
	content: "\f16d";
	position: relative;
	top: 6px;
}

.contact-container p {
	font-family: "Raleway", sans-serif;
	text-align: left;
	font-size: 14px;
	margin-left: -21px;
	padding-bottom: 10px;
}

.contact-container img {
	position: relative;
	top: 1.33rem;
	left: 1.5rem;
}

.contact-container .email-image {
	position: relative;
	top: 1.3rem;
	left: 1.5rem;
}
p#email {
	position: relative;
	left: 7px;
}

.TP-container {
	margin-left: 24px;
}

.aboutUs-container {
	display: flex;
	margin-left: 1.5rem;
	flex-direction: column;
	margin-top: 40px;
}

.aboutUs-container ul li {
	list-style: none;
	margin-top: 1rem;
}

.TP-container {
	display: flex;
	flex-direction: column;
	margin-top: 3rem;
}

.social-icons i {
	border: 1px solid white;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	text-align: center;
	margin-top: auto;
}

.TP-container ul li {
	list-style: none;
	margin-left: 1, 5rem;
	margin-top: 1rem;
}

#text {
	display: block;
	margin-top: 10px;
	text-align: center;
}
@media (min-width: 600px) {
	header {
		position: relative;
	}
	.logo img {
		float: left;
		margin-left: 3rem;
		width: 10rem;
	}
	.nav-links {
		display: block;
		position: absolute;
		right: 3rem;
	}

	.nav-links ul li {
		margin-left: 33px;
		font-size: 17px;
	}

	.description b {
		margin-left: auto;
		width: 18em;
		margin-right: auto;
		font-size: 2.5rem;
		letter-spacing: 0.5px;
	}

	.description p {
		display: flex;
		flex-direction: column;
		max-width: 40%;
		margin-right: auto;
		margin-left: auto;
	}

	.description button {
		max-width: 20%;
	}

	.grid-icons1 {
		justify-content: center;
		display: flex;
		flex-direction: row;
	}
	.grid-icons1 p {
		max-width: 52%;
	}
	.devices {
		position: relative;
		top: -3.6rem;
	}
	.collab {
		position: relative;
		top: -1rem;
	}
	.grid-icon2 {
		justify-content: center;
		display: flex;
		align-items: center;
		flex-direction: row;
	}
	.grid-icon2 p {
		max-width: 50%;
	}

	.illustrate-2 {
		display: flex;
		width: 100rem;
		max-width: 77%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 2em;
	}
	.block b {
		font-size: 2rem;
		width: 50%;
	}
	.block {
		margin-left: 1.5rem;
		margin-top: 5rem;
	}
	.seehow img {
		margin-right: 12rem;
		margin-top: -1rem;
		margin-bottom: 0.1rem;
	}

	.testimonial-cards-containers {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: 2em;
		max-width: 70em;
		margin-top: 4rem;
		margin-left: auto;
		margin-right: auto;
	}

	.section-three img.quote {
		width: 40px;
		position: relative;
		top: 75px;
		left: 109px;
	}

	.testimonial-cards-containers > * {
		margin: 0;
	}
	.witness-info {
		margin-top: 0.7em;
	}
	.wit-info {
		margin-left: 0.5em;
		margin-top: -0.1em;
	}
	.witness-info2 img {
		margin-top: -0.85em;
	}
	.wit-info2 {
		margin-top: 12px;
		margin-left: 8px;
	}
	.witness-info3 {
		margin-top: 0.8em;
	}
	.wit-info3 {
		margin-left: 8px;
		margin-top: -2px;
	}
	.signup-card {
		position: absolute;
		left: 50%;
		right: 50%;
		transform: translate(-50%, -50%);
		top: 153rem;
		width: 60rem;
		height: 19rem;
		margin-bottom: -9em;
	}
	.signup-card p {
		max-width: 68%;
	}
	.inputflex {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-self: center;
		align-items: center;
		margin-left: 2em;
		max-width: 90%;
	}
	.inputflex button {
		width: 14rem;
	}

	footer {
		height: 30rem;
		font-size: 18px !important;
	}
	.footer-flex {
		display: flex;
		max-width: 100%;
		margin-top: 1em;
		/* margin-left: -1.5em; */
		/* margin-right: auto; */
		flex-direction: row;
		gap: 5em;
	}
	.footer-content {
		position: absolute;
		margin-top: 15rem;
	}
	.footer-flex > * {
		margin: 0;
	}
	.footer-flex p {
		/* width: 30%; */
		max-width: 23%;
		margin-top: -50px;
		line-height: 20px;
		margin-left: -10px;
		margin-right: 0;
	}
	.aboutUs-container {
		width: 100px;
	}
	.TP-container {
		width: 100px;
	}
	.location-descript img {
		position: absolute;
		top: 5.3em;
		left: 2.5em;
	}
	p#num {
		position: absolute;
		white-space: nowrap;
		margin-top: -2px;
		font-size: 16px;
		margin-left: -2em;
	}
	p#email {
		position: absolute;
		white-space: nowrap;
		margin-top: 2.35em;
		margin-left: 29em;
		font-size: 16px;
	}
	.email-image {
		position: relative;
		width: 20.3px;
		margin-bottom: -2.4rem;
		margin-left: -20px;
	}
	.contact-container {
		width: 15em;
		font-size: 15px;
		margin-left: 1em;
	}
	#text {
		position: absolute;
		margin-bottom: -9em;
		left: 9%;
	}
	.signup-card button {
		margin-top: 2.188rem;
	}

	.fa-facebook-f:before {
		content: "\f39e";
		position: relative;
		top: 6.3px;
	}

	.fa-twitter:before {
		content: "\f099";
		position: relative;
		top: 6px;
	}

	.fa-instagram:before {
		content: "\f16d";
		position: relative;
		top: 6px;
	}
}
